name: Deploy EKS Cluster and AWS Load Balancer Controller

on:
  push:
    branches:
      - main

jobs:
  deploy-eks-and-lb-controller:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.15.0

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan 
        
      #- name: Run Infracost
       # uses: actions/checkout@v2
        #with:
         # api_key: ${{ secrets.INFRACOST_API_KEY }}
# Uncomment the following line to use a usage file
# usage_file: infracost-usage.yml
# Uncomment the following line to see the resources that are not supported by Infracost yet
# show_skipped: true

      - name: Terraform Refresh
        run: terraform refresh
      
        
